[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
html5lib = "*"
lxml = "*"
requests = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
mysql-connector = "*"
#PyMySQL = "*"
#SQLAlchemy = "*"

[requires]
python_version = "3.9"
